///COLORS///

$primaryBg: #0d2742;
$secondaryBg: #102f50;
$primaryTextColor: #fdfdfd;
$secondaryTextColor: #fff;
$primaryBtnBg: #d19b52; //фон кнопки
$primaryBtnBgHover: #7f9691; //фон наведения на кнопку
$NavLinkColorHover: #d19b52; //цвет наведения на ссылки меню

///FONTS///

$primaryFont: "Inter", sans-serif;
$secondaryFont: "Caveat", cursive;
