@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #fdfdfd;
  background: #031632;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbb533;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

::-moz-selection {
  background: #3b53b2;
  color: #fff;
}

::selection {
  background: #3b53b2;
  color: #fff;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-primary {
  padding: 14px 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  border: none;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  background: #d19b52;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 210px;
  outline: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #7f9691;
  -webkit-box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.btn-primary.modify {
  background: transparent;
  border: 1px solid white;
  padding: 14px 32px;
  background: transparent;
  min-height: 50px;
}

.btn-primary.modify:hover {
  background: #7f9691;
  border: 1px solid transparent;
}

.btn-primary-icon {
  width: 22px;
  fill: #fdfdfd;
  margin-right: 12px;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.btn-primary:hover .btn-primary-icon {
  opacity: 0;
  visibility: hidden;
  width: 0;
  margin-right: 0;
}

.btn-primary .btn-primary-icon-modify {
  opacity: 0;
  visibility: hidden;
  width: 0;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.btn-primary:hover .btn-primary-icon-modify {
  opacity: 1;
  visibility: visible;
  width: 22px;
  margin-right: 12px;
  fill: url("#myGrad");
}

.btn-secondary {
  padding: 21px 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #d19b52;
  font-weight: 600;
  border: none;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  color: inherit;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #7f9691;
  -webkit-box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.logo {
  position: relative;
  z-index: 998;
  outline: none;
}

.logo-img {
  width: 140px;
}

.hamburger {
  display: none;
}

.switch-lang {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3c3c3c;
  background-color: #ffffff17;
  border-radius: 34px;
  outline: 0;
  z-index: 880;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-box-shadow 0.15s ease;
  transition: -webkit-box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.switch-lang:hover {
  -webkit-box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgba(95, 157, 231, 0.48);
          box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgba(95, 157, 231, 0.48);
}

.lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  letter-spacing: 0.07em;
  color: #fff;
}

.scroll-up {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #d78b25;
  text-align: center;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
}

.scroll-up-icon {
  width: 34px;
  height: 34px;
  fill: #fdfdfd;
}

.show-scroll {
  opacity: 1;
  visibility: visible;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../images/section-hero/bg.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/section-hero/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
  font-size: 0;
}

.header-topbar {
  padding: 20px 0 20px 0;
}

.header-topbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  margin-left: auto;
  margin-right: 62px;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item {
  white-space: nowrap;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.header-nav-link {
  color: #fdfdfd;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  font-style: normal;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.header-nav-link:hover {
  color: #d19b52;
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}

.header-socials-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-socials-icon {
  fill: #fdfdfd;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.header-socials-icon:hover {
  fill: #d19b52;
}

.header-socials-icon.modify_facebook {
  width: 11px;
}

.header-socials-icon.modify_instagram {
  width: 16px;
}

.header-socials-icon.modify_telegram {
  width: 18px;
}

.section-hero {
  padding: 61px 0 0 0;
  position: relative;
}

.section-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero-content {
  max-width: 523px;
  visibility: hidden;
}

.section-hero-caption {
  margin: 0 0 10px 0;
  color: #ebc33a;
  font-size: clamp(32px, 4vw, 34px);
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-hero-subtitle {
  margin: 0 0 24px 0;
  font-size: clamp(32px, 6vw, 64px);
  font-weight: bold;
}

.section-hero-text {
  margin: 0 0 44px 0;
  font-weight: 100;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-hero-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section-hero-arc {
  padding: 0 20px 0 20px;
  margin-right: 120px;
  position: relative;
  top: 120px;
  right: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  width: 480px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 230px 230px 0 0;
  z-index: 2;
  -webkit-box-shadow: 2.8px 2.8px 2.2px #00000005, 6.7px 6.7px 5.3px #00000008, 12.5px 12.5px 10px #0000000a, 22.3px 22.3px 17.9px #0000000a, 41.8px 41.8px 33.4px #0000000d, 100px 100px 80px #00000012;
          box-shadow: 2.8px 2.8px 2.2px #00000005, 6.7px 6.7px 5.3px #00000008, 12.5px 12.5px 10px #0000000a, 22.3px 22.3px 17.9px #0000000a, 41.8px 41.8px 33.4px #0000000d, 100px 100px 80px #00000012;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), color-stop(rgba(15, 15, 15, 0.25)), color-stop(rgba(28, 28, 28, 0.3)), to(rgba(33, 33, 33, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(15, 15, 15, 0.25), rgba(28, 28, 28, 0.3), rgba(33, 33, 33, 0.3));
  visibility: hidden;
}

.section-hero-arc .img-wrapper {
  position: relative;
}

.section-hero-arc .img-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -40px;
  z-index: 4;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 230px 230px 10px 10px;
}

.section-hero-arc-img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 440px;
  height: 670px;
  position: relative;
  bottom: -40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30%;
     object-position: 30%;
  border-radius: 230px 230px 10px 10px;
  z-index: 3;
}

.section-hero-decor {
  position: absolute;
  right: -156px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  bottom: 100px;
  color: #7f9691;
  z-index: 10;
  font-size: 80px;
  font-weight: 400;
  font-family: "Caveat", cursive;
  opacity: 0.7;
}

.section-donate {
  padding: 100px 0;
  background: #102f50;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-donate .container {
  width: 100%;
}

.section-donate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-right: 81px;
}

.section-donate-caption {
  margin: 0 0 10px 0;
  color: #ebc33a;
  font-size: 34px;
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-donate-text {
  margin: 0 0 24px 0;
  font-size: clamp(32px, 5vw, 64px);
  font-weight: bold;
}

.section-donate .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

.section-donate .form-box {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 196px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 186px;
  position: relative;
}

.section-donate .form-subtitle {
  position: absolute;
  top: 27px;
  right: -92px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 138px;
  font-size: 28px;
  line-height: 24px;
  font-family: "Caveat", cursive;
}

.section-donate .form-pay {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
  min-height: 62px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 10px;
  border-radius: 50px;
  background-color: #7f9691;
  text-align: center;
  border: none;
  outline: none;
  color: #fdfdfd;
}

.section-donate .form-pay::-webkit-inner-spin-button, .section-donate .form-pay::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.section-donate .form-pay::-webkit-input-placeholder {
  color: #fdfdfd;
  font-size: 24px;
  font-weight: 700;
}

.section-donate .form-pay:-ms-input-placeholder {
  color: #fdfdfd;
  font-size: 24px;
  font-weight: 700;
}

.section-donate .form-pay::-ms-input-placeholder {
  color: #fdfdfd;
  font-size: 24px;
  font-weight: 700;
}

.section-donate .form-pay::placeholder {
  color: #fdfdfd;
  font-size: 24px;
  font-weight: 700;
}

.section-donate .form-pay:focus::-webkit-input-placeholder {
  color: transparent;
}

.section-donate .form-pay:focus:-ms-input-placeholder {
  color: transparent;
}

.section-donate .form-pay:focus::-ms-input-placeholder {
  color: transparent;
}

.section-donate .form-pay:focus::placeholder {
  color: transparent;
}

.section-donate .form-pay:focus {
  outline: none;
}

.section-donate-decor {
  position: absolute;
  left: -464px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  bottom: 266px;
  color: #7f9691;
  z-index: 10;
  font-size: 80px;
  font-weight: 400;
  font-family: "Caveat", cursive;
  opacity: 0.7;
}

.section-about {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #f7f6ef;
  font-size: 0;
}

.section-about .container {
  width: 100%;
}

.section-about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.section-about-box {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section-about-box:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 51%;
          flex: 1 1 51%;
}

.section-about-box:nth-child(2) {
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 78%;
          flex: 1 1 78%;
}

.section-about-box-pic {
  width: 100%;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section-about-title {
  position: relative;
  margin: 0 0 18px 0;
  color: #ebc33a;
  font-size: 64px;
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-about-title::before {
  content: "";
  width: 2px;
  background: #ebc33a;
  position: absolute;
  top: 0;
  left: -50px;
  height: 174px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section-about-text {
  margin-bottom: 24px;
  font-weight: 900;
  color: #96948f;
  font-size: 20px;
  line-height: 1.5;
}

.section-about-text:nth-of-type(2) {
  font-weight: 400;
}

.section-about-list {
  margin-top: 74px;
  font-weight: 400;
  color: #96948f;
  font-size: 20px;
  line-height: 1.5;
}

.section-about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about-item:not(:last-child) {
  margin-bottom: 10px;
}

.section-about-chevron {
  margin-right: 40px;
  fill: #ebc33a;
  width: 14px;
  height: 14px;
}

.section-team {
  padding: 100px 0;
  min-height: 100vh;
  background-color: #102f50;
  font-size: 0;
}

.section-team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-team-header {
  text-align: center;
  max-width: 740px;
}

.section-team-title {
  margin: 0 0 10px 0;
  color: #ebc33a;
  font-size: clamp(42px, 5vw, 54px);
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-team-caption {
  margin: 0 0 20px 0;
  font-size: clamp(42px, 5vw, 54px);
  font-weight: bold;
}

.section-team-text {
  margin: 0 0 46px 0;
  font-weight: 100;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team-content .section-team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

.section-team-content .section-team-box .img-wrapper {
  overflow: hidden;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  border: 1px solid transparent;
  -webkit-transition: -webkit-box-shadow 0.6s ease-in-out;
  transition: -webkit-box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out, -webkit-box-shadow 0.6s ease-in-out;
}

.section-team-content .section-team-box .img-wrapper:hover {
  -webkit-box-shadow: 0px 70px 63px -60px #00000096;
          box-shadow: 0px 70px 63px -60px #00000096;
}

.section-team-content .section-team-box-pic {
  width: 270px;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 8px;
  -webkit-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out;
}

.section-team-content .section-team-box-pic:hover {
  -webkit-transform: scale(1.4) translate(30px, 50px);
          transform: scale(1.4) translate(30px, 50px);
  border-radius: 8px;
}

.section-team-content .section-team-box-pic:hover.modify_pic5 {
  -webkit-transform: scale(1.4) translate(4px, 50px);
          transform: scale(1.4) translate(4px, 50px);
}

.section-team-content .section-team-box-pic:hover.modify_pic6 {
  -webkit-transform: scale(1.4) translate(45px, 50px);
          transform: scale(1.4) translate(45px, 50px);
}

.section-team-content .section-team-box-name {
  margin: 0 0 4px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.section-team-content .section-team-box-subtitle {
  margin: 0 0 34px 0;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-team-content .section-team-box .team-box-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.section-team-content .section-team-box .team-box-socials-icon {
  fill: #fdfdfd;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.section-team-content .section-team-box .team-box-socials-icon:hover {
  fill: #d19b52;
}

.section-team-content .section-team-box .modify_facebook {
  width: 11px;
}

.section-team-content .section-team-box .modify_instagram {
  width: 16px;
}

.section-team-content .section-team-box .modify_telegram {
  width: 18px;
}

.section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  background-color: #102f50;
  min-width: 0;
}

.section-gallery-content {
  min-width: 0;
}

.section-gallery-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 556px;
  max-height: 415px;
  min-width: 0;
}

.section-gallery-pic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  background-color: #fdfdfd;
  padding: 9px;
  border-radius: 50%;
  outline: none;
}

.swiper-button-icon {
  width: 30px;
  height: 30px;
  fill: #126ab0;
}

.section-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  background: url(../images/section-event/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #102f50;
  background-position: bottom;
  font-size: 0;
}

.section-event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-event-title {
  color: #ebc33a;
  margin: 0px 0 10px 0;
  font-size: clamp(42px, 5vw, 50px);
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-event-caption {
  color: #fdfdfd;
  margin: 0 0 24px 0;
  font-size: clamp(42px, 6vw, 58px);
  font-weight: bold;
}

.section-event-text {
  margin: 0 0 44px 0;
  font-weight: 100;
  font-size: clamp(20px, 2.5vw, 24px);
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-event-text.modify {
  max-width: 983px;
  margin: 0 0 32px 0;
  padding: 42px;
  font-size: clamp(16px, 2.5vw, 20px);
  background: #203f5ec4;
  border-radius: 40px 40px 40px 0px;
  border: 6px double #1c6ea4c2;
}

.section-event-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-box-time {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 150px;
  width: 150px;
  border: 4px solid #ebc33a;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-box-decor {
  min-width: 50px;
  font-size: 50px;
  color: #fdfdfd;
}

.section-touch {
  padding: 100px 0 160px 0;
  min-height: 80vh;
  background-color: #1c426b;
  font-size: 0;
}

.section-touch-title {
  color: #ebc33a;
  margin: 0px 0 10px 0;
  font-size: clamp(42px, 5vw, 50px);
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.section-touch-caption {
  color: #fdfdfd;
  margin: 0 0 26px 0;
  font-size: clamp(42px, 6vw, 58px);
  font-weight: bold;
}

.section-touch-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.section-touch-form {
  max-width: 710px;
  width: 100%;
}

.section-touch .touch-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  gap: 24px;
}

.section-touch .touch-form-field {
  padding: 12px 10px;
  width: 100%;
  border: 2px solid transparent;
  background-color: rgba(127, 150, 145, 0.1);
  font-size: 14px;
  line-height: 20px;
  color: #fdfdfd;
  font-family: inherit;
}

.section-touch .touch-form-field:focus {
  outline: none;
  color: #fdfdfd;
  border: 2px solid #d19b52;
}

.section-touch .touch-form-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.section-touch .touch-form-field:focus:-ms-input-placeholder {
  color: transparent;
}

.section-touch .touch-form-field:focus::-ms-input-placeholder {
  color: transparent;
}

.section-touch .touch-form-field:focus::placeholder {
  color: transparent;
}

.section-touch .touch-form-field::-webkit-input-placeholder {
  color: #fdfdfd84;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  -webkit-user-select: none;
          user-select: none;
}

.section-touch .touch-form-field:-ms-input-placeholder {
  color: #fdfdfd84;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  -ms-user-select: none;
      user-select: none;
}

.section-touch .touch-form-field::-ms-input-placeholder {
  color: #fdfdfd84;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  -ms-user-select: none;
      user-select: none;
}

.section-touch .touch-form-field::placeholder {
  color: #fdfdfd84;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-touch .btn-submit {
  margin-top: 30px;
  padding: 18px 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #d19b52;
  font-weight: 600;
  border: none;
  font-size: 17px;
  outline: none;
  white-space: nowrap;
  color: inherit;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-touch .btn-submit:hover {
  background-color: #7f9691;
  -webkit-box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 19px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.section-touch-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(220px, 1fr));
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: "pic1 pic3 pic3 " "pic2 pic3 pic3 ";
  grid-gap: 24px;
}

.section-touch-item {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(127, 150, 145, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-touch-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic1;
}

.section-touch-item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pic2;
}

.section-touch-item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: pic3;
}

.section-touch .touch-link-icon {
  fill: #5890b4;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-touch .touch-link-icon:last-of-type {
  height: 51px;
}

.section-touch .touch-link-label {
  margin-top: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  color: #fdfdfde0;
  font-size: 16px;
  line-height: 26px;
}

.section-touch .touch-link-label.modify {
  margin-top: 21px;
}

.footer {
  padding: 80px 0 40px 0;
  position: relative;
  background-color: #102f50;
  font-size: 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-box {
  max-width: 700px;
}

.footer-caption {
  color: #ebc33a;
  margin: 0px 0 20px 0;
  font-size: clamp(30px, 5vw, 40px);
  font-weight: bold;
  font-family: "Caveat", cursive;
}

.footer-text {
  color: #fdfdfd;
  margin: 0 0 20px 0;
  font-size: clamp(30px, 5vw, 40px);
  font-weight: bold;
}

.footer-nav-list {
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav-item {
  white-space: nowrap;
}

.footer-nav-item:not(:last-child) {
  margin-right: 30px;
}

.footer-nav-link {
  color: #fdfdfd;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  font-style: normal;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer-nav-link:hover {
  color: #d19b52;
}

.footer-copyright-text {
  color: #fdfdfd;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
}

.footer-decor {
  position: absolute;
  right: -86px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  bottom: 202px;
  color: #d78b25;
  z-index: 10;
  font-size: 80px;
  font-weight: 400;
  font-family: "Caveat", cursive;
  opacity: 0.6;
}

.footer-nav-list {
  margin: 0 0 40px 0;
}

.footer-socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin-bottom: 40px;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fdfdfd;
  background: #145e76;
  border-radius: 3px;
  max-width: 830px;
  min-width: 320px;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 20px 40px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px -6px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.md-header {
  position: relative;
  padding: 26px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  text-align: center;
}

.md-title {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
  line-height: 150%;
}

.md-content {
  padding: 30px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
}

.md-content-boxes {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.md-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 170%;
  max-width: 355px;
  text-transform: uppercase;
}

.md-box-text {
  font-size: 14px;
}

.md-box-text.modify {
  margin: 0 0 18px 0;
}

.md-box-title {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: rgba(235, 195, 58, 0.94);
}

.md-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.6em 1.2em;
  font-family: inherit;
  border: none;
  outline: none;
  background: #259cb6;
  color: #41333f;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.md-close:hover {
  background-color: #114a57;
  color: #fff;
}

.md-overlay {
  position: fixed;
  inset: 0;
  background: rgba(16, 47, 80, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.md-active {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1400px) {
  .section-hero-decor,
  .section-donate-decor,
  .footer-decor {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  body::-webkit-scrollbar {
    width: 0;
  }
  .header {
    min-height: initial;
  }
  .btn-primary {
    padding: clamp(32px, 7vw, 52px);
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: clamp(14px, 2vw, 16px);
  }
  .header-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0;
    z-index: 900;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#0a3c64), color-stop(#00496f), color-stop(#005578), color-stop(#006281), color-stop(#016f88), color-stop(#0d7a91), color-stop(#188499), color-stop(#228fa1), color-stop(#259bae), color-stop(#29a7bb), color-stop(#2cb3c9), to(#30bfd6));
    background-image: linear-gradient(to right top, #0a3c64, #00496f, #005578, #006281, #016f88, #0d7a91, #188499, #228fa1, #259bae, #29a7bb, #2cb3c9, #30bfd6);
    overflow: auto;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  }
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header-nav.show-nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }
  .header-nav.show-nav .header-nav-item {
    -webkit-animation: revUp 1.2s forwards;
            animation: revUp 1.2s forwards;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 0;
  }
  .header-nav-link {
    font-size: 28px;
  }
  .header-socials {
    display: none;
    gap: 2px;
  }
  .header-socials-link {
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-nav.show-nav ~ .header-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 960;
    -webkit-animation: revUp 1.2s forwards;
            animation: revUp 1.2s forwards;
  }
  .switch-lang {
    margin-left: auto;
    margin-right: 20px;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 910;
    cursor: pointer;
  }
  .hamburger-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 909;
    -webkit-transition: 0.3s ease transform;
    transition: 0.3s ease transform;
  }
  .hamburger-lines {
    width: 6px;
    height: 6px;
    background-color: #d19b52;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    -webkit-transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
  }
  .hamburger-lines:first-child {
    width: 22px;
  }
  .hamburger-lines:nth-child(2) {
    width: 15px;
  }
  .hamburger-lines:last-child {
    width: 30px;
    margin-bottom: 0;
  }
  .hamburger-box.active {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  .hamburger-box.active .hamburger-lines {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #ffc107;
  }
  .section-hero .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-hero-content {
    text-align: center;
  }
  .section-hero-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-hero-arc {
    margin-right: 0;
    margin-top: 40px;
    top: 0;
    right: 0;
    height: 450px;
  }
  .section-hero-arc-img {
    height: 470px;
    -o-object-position: 12%;
       object-position: 12%;
  }
  @-webkit-keyframes revUp {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes revUp {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .section-donate .container {
    width: initial;
  }
  .section-about .container {
    width: initial;
  }
  .section-about-content {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: clamp(800px, 83vw, 1000px);
  }
  .section-about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-about-box-pic.modify {
    display: none;
  }
  .section-about-box .section-about-list {
    margin-top: 0;
  }
  .section-touch-header {
    text-align: center;
  }
  .section-touch-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-touch-form {
    text-align: center;
    max-width: 790px;
    width: 100%;
  }
  .section-touch-list {
    max-width: 790px;
  }
  .section-touch .btn-submit {
    margin-top: 0;
  }
  .footer-nav-list {
    margin: 0 0 30px 0;
  }
  .footer-socials {
    margin-bottom: 30px;
  }
  .footer-socials {
    gap: 2px;
  }
}

@media only screen and (max-width: 991px) {
  .section-donate-caption,
  .section-donate-text {
    text-align: center;
  }
  .section-donate .form-row {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-donate-content {
    margin-left: initial;
    margin-right: 0;
  }
  .md-modal {
    max-width: 480px;
  }
  .md-content-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .section-about {
    padding: 60px 0;
  }
  .section-about-title {
    font-size: 60px;
  }
  .section-about-text {
    font-size: 18px;
  }
  .section-about-list {
    font-size: 18px;
  }
  .section-team {
    padding: 60px 0 80px 0;
  }
  .section-event {
    padding: 80px 0;
  }
  .section-about-chevron {
    margin-right: 20px;
  }
  .section-touch {
    padding: 60px 0 100px 0;
  }
  .section-team-content .section-team-box .img-wrapper {
    margin-bottom: 20px;
  }
  .section-team-content .section-team-box-subtitle {
    margin: 0 0 30px 0;
  }
  .footer {
    padding: 60px 0 40px 0;
  }
  .footer-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer-nav-item:not(:last-child) {
    margin-right: 0;
  }
  .scroll-up {
    height: 54px;
    width: 54px;
    right: 32px;
    bottom: 32px;
  }
  .scroll-up-icon {
    width: 26px;
    height: 26px;
  }
  .md-modal {
    max-width: 420px;
  }
  .md-title {
    font-size: 26px;
  }
  .md-box {
    max-width: 309px;
  }
  .md-box-text {
    font-size: 14px;
    line-height: 160%;
  }
  .md-box-title {
    font-size: 18px;
  }
  .md-close:hover {
    background: #259cb6;
    color: #41333f;
  }
}

@media only screen and (max-width: 560px) {
  .section-touch-list {
    -ms-grid-columns: (minmax(220px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(220px, 1fr));
        grid-template-areas: "pic1" "pic2" "pic3";
  }
  -item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pic1;
  }
  -item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pic2;
  }
  -item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: pic3;
  }
}

@media only screen and (max-width: 500px) {
  .section-hero-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero-arc {
    max-width: 480px;
    width: 100%;
  }
  .section-hero-arc-img {
    max-width: 440px;
    width: 100%;
  }
  .section-about-item {
    line-height: 135%;
  }
  .event-box-time {
    font-size: 21px;
    height: 120px;
    width: 120px;
  }
  .section-donate .form-box {
    padding-top: 20px;
  }
  .section-donate .form-subtitle {
    position: initial;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 16px;
    text-align: center;
  }
  .section-hero-arc-img {
    -o-object-position: 22%;
       object-position: 22%;
  }
  .md-modal {
    max-width: 360px;
  }
  .md-content-boxes {
    gap: 20px;
  }
  .md-title {
    font-size: 24px;
  }
  .md-box {
    max-width: 265px;
    line-height: 150%;
  }
  .md-box-text {
    font-size: 12px;
  }
  .md-box-title {
    margin: 0px 0 16px 0;
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .section-hero-arc-img {
    -o-object-position: 28%;
       object-position: 28%;
  }
}

@media only screen and (max-width: 400px) {
  .section-hero-arc-img {
    -o-object-position: 34%;
       object-position: 34%;
  }
  .md-modal {
    max-width: 323px;
  }
  .md-title {
    font-size: 22px;
  }
  .md-box {
    max-width: 243px;
    line-height: 140%;
  }
  .md-box-text {
    font-size: 11px;
  }
  .md-box-title {
    margin: 0px 0 14px 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 350px) {
  .section-hero-arc-img {
    -o-object-position: 36%;
       object-position: 36%;
  }
}

@media only screen and (max-width: 320px) {
  .header-nav-link {
    font-size: 26px;
  }
  .section-team-content .section-team-box-pic {
    width: 240px;
  }
  .event-box-time {
    font-size: 18px;
    height: 100px;
    width: 100px;
  }
  .event-box-decor {
    min-width: 46px;
    font-size: 48px;
  }
  .section-team-title,
  .section-team-caption {
    font-size: clamp(36px, 5vw, 54px);
  }
  .section-event-title,
  .section-event-caption,
  .section-touch-title,
  .section-touch-caption {
    font-size: clamp(34px, 5vw, 50px);
  }
  .section-touch .btn-submit {
    font-size: 15px;
    padding: 18px 22px;
  }
}

@media only screen and (max-width: 280px) {
  .header-nav-link {
    font-size: 32px;
  }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
  .header-nav-list {
    gap: 12px;
  }
  .header-nav-link {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media only screen and (min-width: 3840px) {
  body {
    zoom: 2;
  }
}
/*# sourceMappingURL=style.css.map */