///COLORS///

$primary-color: #fff;
$secondary-color: #ffc178;
$accent-text-color: #fbd784;
$btn-primary-background: #ffa343;
$btn-primary-color: #000;
$bg-color: #000;

///FONTS///

$primary-font: "Open Sans", sans-serif;
$secondary-font: "DM Sans", sans-serif;
