// Цвета

$bodyBgColor: #fff;
//
$selectionColor: #ff4b32;
//
$textPrimaryColor: #fff;
$textSecondaryColor: #000;
$textThirdColor: #ff4b32;
$textHoverColor: #ff4b32;
//
$scrollColor: #ff4b32;
$scrollBgColor: #f9f9fd;
//
$logoNameColor: #ff4b32;
//
$linkColor: #ff4b32;
//
$btnPrimaryColor: #ff4b32;
$btnSecondaryColor: #ff4b32;
//
$borderPrimaryColor: #0d0402;
$borderSecondaryColor: #ff4b32;
//
$footerBgColor: #0d0402;
