///COLORS///

$primaryTextColor: #fff;
$primaryBgColor: #fff;
$secondaryColor: #181818;
$btnBgColor: #ffc814;
$btnPrimaryTextColor: #1f3347;
$btnSecondaryTextColor: #22283c;

///FONTS///

$primaryFont: "Poppins", sans-serif;
$secondaryFont: "Quick Kiss Personal Use", sans-serif;
