///COLORS///
$primary-color: #e5e5e5;
$header-color: #fff;
$link-color: #fff;
$text-color: #fff;
$btn-color: #fff;
$border-color: #fff;
$bgc-form: #fff;
$bgc-btn: #23a6f0;
$bgc-link: #23a6f0;
$bgc-input: #f9f9f9;

///FONTS///

$primary-font: "Montserrat", sans-serif;
